In [16]:
import pandas as pd
import numpy as np

In [17]:
df=pd.read_csv("202301-citibike-tripdata_1.csv" ,sep="," ,encoding="utf-8")
df.head()

/var/folders/h0/p6cqdlx17db0kxyxg9xxc18c0000gn/T/ipykernel_29389/1977477578.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("202301-citibike-tripdata_1.csv" ,sep="," ,encoding="utf-8")

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,4A86C1475DCCADA0,classic_bike,2023-01-26 10:53:44,2023-01-26 11:05:17,E 53 St & Madison Ave,6659.03,Columbus Ave & W 72 St,7175.05,40.759724,-73.973664,40.777057,-73.978985,member
1,AE02E1FF7E264874,classic_bike,2023-01-04 11:51:54,2023-01-04 12:07:09,Halsey St & Ralph Ave,4334.02,Clinton Ave & Myrtle Ave,4651.02,40.684970,-73.922755,40.693261,-73.968896,casual
2,D3F9A2A71AD244C6,classic_bike,2023-01-04 17:26:48,2023-01-04 17:43:29,Bank St & Hudson St,5922.08,W 52 St & 11 Ave,6926.01,40.736566,-74.006092,40.767272,-73.993929,casual
3,3D48C6F33AFEF329,classic_bike,2023-01-04 08:31:11,2023-01-04 08:42:12,E 53 St & Madison Ave,6659.03,W 45 St & 8 Ave,6676.02,40.759711,-73.974023,40.759291,-73.988597,member
4,4865926C3D97BA01,electric_bike,2023-01-03 22:15:34,2023-01-03 22:30:35,Frederick Douglass Blvd & W 112 St,7631.23,Central Park S & 6 Ave,6876.04,40.801694,-73.957145,40.765909,-73.976342,casual

In [20]:
df_cleaned = df.drop(columns=['ride_id','start_station_id','end_station_id'])
print(df_cleaned)

        rideable_type           started_at             ended_at  \
0        classic_bike  2023-01-26 10:53:44  2023-01-26 11:05:17
1        classic_bike  2023-01-04 11:51:54  2023-01-04 12:07:09
2        classic_bike  2023-01-04 17:26:48  2023-01-04 17:43:29
3        classic_bike  2023-01-04 08:31:11  2023-01-04 08:42:12
4       electric_bike  2023-01-03 22:15:34  2023-01-03 22:30:35
...               ...                  ...                  ...
999995   classic_bike  2023-01-02 18:44:21  2023-01-02 18:50:24
999996   classic_bike  2023-01-10 08:12:51  2023-01-10 08:16:37
999997   classic_bike  2023-01-10 02:58:06  2023-01-10 03:00:49
999998   classic_bike  2023-01-10 08:04:43  2023-01-10 08:07:37
999999   classic_bike  2023-01-03 10:09:44  2023-01-03 10:25:23

                        start_station_name          end_station_name  \
0                    E 53 St & Madison Ave    Columbus Ave & W 72 St
1                    Halsey St & Ralph Ave  Clinton Ave & Myrtle Ave
2                      Bank St & Hudson St          W 52 St & 11 Ave
3                    E 53 St & Madison Ave           W 45 St & 8 Ave
4       Frederick Douglass Blvd & W 112 St    Central Park S & 6 Ave
...                                    ...                       ...
999995                   E 2 St & Avenue A         Avenue D & E 3 St
999996                West St & Liberty St            West Thames St
999997                West St & Liberty St            West Thames St
999998                West St & Liberty St            West Thames St
999999         Central Park West & W 68 St  W 104 St & Amsterdam Ave

        start_lat  start_lng    end_lat    end_lng member_casual
0       40.759724 -73.973664  40.777057 -73.978985        member
1       40.684970 -73.922755  40.693261 -73.968896        casual
2       40.736566 -74.006092  40.767272 -73.993929        casual
3       40.759711 -73.974023  40.759291 -73.988597        member
4       40.801694 -73.957145  40.765909 -73.976342        casual
...           ...        ...        ...        ...           ...
999995  40.723077 -73.985836  40.720828 -73.977932        member
999996  40.711444 -74.014847  40.708347 -74.017134        member
999997  40.711444 -74.014847  40.708347 -74.017134        member
999998  40.711444 -74.014847  40.708347 -74.017134        member
999999  40.773407 -73.977825  40.799041 -73.966495        member

[1000000 rows x 10 columns]

In [21]:
df_cleaned.head(100)

,rideable_type,started_at,ended_at,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,member_casual
0,classic_bike,2023-01-26 10:53:44,2023-01-26 11:05:17,E 53 St & Madison Ave,Columbus Ave & W 72 St,40.759724,-73.973664,40.777057,-73.978985,member
1,classic_bike,2023-01-04 11:51:54,2023-01-04 12:07:09,Halsey St & Ralph Ave,Clinton Ave & Myrtle Ave,40.684970,-73.922755,40.693261,-73.968896,casual
2,classic_bike,2023-01-04 17:26:48,2023-01-04 17:43:29,Bank St & Hudson St,W 52 St & 11 Ave,40.736566,-74.006092,40.767272,-73.993929,casual
3,classic_bike,2023-01-04 08:31:11,2023-01-04 08:42:12,E 53 St & Madison Ave,W 45 St & 8 Ave,40.759711,-73.974023,40.759291,-73.988597,member
4,electric_bike,2023-01-03 22:15:34,2023-01-03 22:30:35,Frederick Douglass Blvd & W 112 St,Central Park S & 6 Ave,40.801694,-73.957145,40.765909,-73.976342,casual
...,...,...,...,...,...,...,...,...,...,...
95,classic_bike,2023-01-21 13:49:01,2023-01-21 13:55:08,E 93 St & 2 Ave,E 95 St & 3 Ave,40.782454,-73.948920,40.784903,-73.950503,member
96,electric_bike,2023-01-18 13:51:34,2023-01-18 14:04:38,Wythe Ave & Metropolitan Ave,Broadway & Kosciuszko St,40.716887,-73.963198,40.693290,-73.928520,member
97,classic_bike,2023-01-16 17:44:45,2023-01-16 17:49:55,West St & Chambers St,Greenwich St & Rector St,40.717548,-74.013221,40.708066,-74.013560,member
98,classic_bike,2023-01-28 10:25:30,2023-01-28 10:33:28,3 Ave & E 172 St,E 147 St & Bergen Ave,40.839545,-73.900340,40.814673,-73.918390,member
99,classic_bike,2023-01-28 20:16:37,2023-01-28 20:35:31,Morris Ave & E 184 St,Grand Concourse & E Mosholu Pkwy S,40.860086,-73.900727,40.877964,-73.884755,member

In [23]:
df_cleaned.to_csv('cleanedjan2023_output_file.csv', index=False)

In [24]:
df=pd.read_csv("202306-citibike-tripdata_1.csv" ,sep="," ,encoding="utf-8")
df.head()

/var/folders/h0/p6cqdlx17db0kxyxg9xxc18c0000gn/T/ipykernel_29389/1048178524.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("202306-citibike-tripdata_1.csv" ,sep="," ,encoding="utf-8")

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,984F50BCBC76DD9A,classic_bike,2023-06-11 06:54:21,2023-06-11 07:12:28,W 84 St & Columbus Ave,7382.04,Amsterdam Ave & W 125 St,7800.03,40.785000,-73.972834,40.813358,-73.956461,member
1,03E3D62E7FB76B05,classic_bike,2023-06-19 15:23:11,2023-06-19 16:00:05,E 89 St & York Ave,7204.08,Mott St & Prince St,5561.04,40.777958,-73.945928,40.723180,-73.994800,member
2,8E7EE421A0B8BBF3,classic_bike,2023-06-06 16:07:05,2023-06-06 16:15:14,E 51 St & 2 Ave,6575.03,E 25 St & 1 Ave,6004.07,40.755357,-73.967489,40.738177,-73.977387,member
3,24D66A0C46493CB1,classic_bike,2023-06-26 19:52:23,2023-06-26 19:55:47,India St Pier,5794.05,Franklin St & Dupont St,5944.01,40.731735,-73.961239,40.735640,-73.958660,member
4,E944882A074B8F61,classic_bike,2023-06-05 08:57:57,2023-06-05 09:13:36,E 47 St & 2 Ave,6498.1,5 Ave & E 29 St,6248.06,40.753231,-73.970325,40.745168,-73.986831,member

In [25]:
df_cleaned = df.drop(columns=['ride_id','start_station_id','end_station_id'])
print(df_cleaned)

       rideable_type           started_at             ended_at  \
0       classic_bike  2023-06-11 06:54:21  2023-06-11 07:12:28
1       classic_bike  2023-06-19 15:23:11  2023-06-19 16:00:05
2       classic_bike  2023-06-06 16:07:05  2023-06-06 16:15:14
3       classic_bike  2023-06-26 19:52:23  2023-06-26 19:55:47
4       classic_bike  2023-06-05 08:57:57  2023-06-05 09:13:36
...              ...                  ...                  ...
999995  classic_bike  2023-06-14 08:49:24  2023-06-14 09:02:25
999996  classic_bike  2023-06-28 08:51:23  2023-06-28 09:03:58
999997  classic_bike  2023-06-13 15:26:32  2023-06-13 15:38:47
999998  classic_bike  2023-06-11 11:03:58  2023-06-11 11:10:03
999999  classic_bike  2023-06-09 18:18:04  2023-06-09 18:37:47

                 start_station_name          end_station_name  start_lat  \
0            W 84 St & Columbus Ave  Amsterdam Ave & W 125 St  40.785000
1                E 89 St & York Ave       Mott St & Prince St  40.777958
2                   E 51 St & 2 Ave           E 25 St & 1 Ave  40.755357
3                     India St Pier   Franklin St & Dupont St  40.731735
4                   E 47 St & 2 Ave           5 Ave & E 29 St  40.753231
...                             ...                       ...        ...
999995  Lawrence St & Willoughby St      Fulton St & Broadway  40.692362
999996  Lawrence St & Willoughby St      Fulton St & Broadway  40.692362
999997        West St & Chambers St            West Thames St  40.717548
999998      Driggs Ave & Lorimer St     Devoe St & Lorimer St  40.721791
999999               Great Jones St      Broadway & Morris St  40.727434

        start_lng    end_lat    end_lng member_casual
0      -73.972834  40.813358 -73.956461        member
1      -73.945928  40.723180 -73.994800        member
2      -73.967489  40.738177 -73.977387        member
3      -73.961239  40.735640 -73.958660        member
4      -73.970325  40.745168 -73.986831        member
...           ...        ...        ...           ...
999995 -73.986317  40.711066 -74.009447        member
999996 -73.986317  40.711066 -74.009447        member
999997 -74.013221  40.708347 -74.017134        member
999998 -73.950415  40.713352 -73.949103        member
999999 -73.993790  40.705945 -74.013219        member

[1000000 rows x 10 columns]

In [26]:
df_cleaned.head(100)

,rideable_type,started_at,ended_at,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,member_casual
0,classic_bike,2023-06-11 06:54:21,2023-06-11 07:12:28,W 84 St & Columbus Ave,Amsterdam Ave & W 125 St,40.785000,-73.972834,40.813358,-73.956461,member
1,classic_bike,2023-06-19 15:23:11,2023-06-19 16:00:05,E 89 St & York Ave,Mott St & Prince St,40.777958,-73.945928,40.723180,-73.994800,member
2,classic_bike,2023-06-06 16:07:05,2023-06-06 16:15:14,E 51 St & 2 Ave,E 25 St & 1 Ave,40.755357,-73.967489,40.738177,-73.977387,member
3,classic_bike,2023-06-26 19:52:23,2023-06-26 19:55:47,India St Pier,Franklin St & Dupont St,40.731735,-73.961239,40.735640,-73.958660,member
4,classic_bike,2023-06-05 08:57:57,2023-06-05 09:13:36,E 47 St & 2 Ave,5 Ave & E 29 St,40.753231,-73.970325,40.745168,-73.986831,member
...,...,...,...,...,...,...,...,...,...,...
95,classic_bike,2023-06-06 17:45:54,2023-06-06 17:59:24,Gansevoort St & Hudson St,Pier 40 - Hudson River Park,40.739448,-74.005070,40.727714,-74.011296,casual
96,classic_bike,2023-06-24 18:12:30,2023-06-24 18:30:49,Flatbush Ave & Ocean Ave,Berkeley Pl & 7 Ave,40.663657,-73.963014,40.675147,-73.975232,casual
97,classic_bike,2023-06-24 14:23:27,2023-06-24 14:39:25,Prospect Park SW & 16 St,12 St & 4 Ave,40.657263,-73.974167,40.668603,-73.990439,casual
98,classic_bike,2023-06-12 18:51:57,2023-06-12 19:09:51,Dock 72 Way & Market St,Berkeley Pl & 7 Ave,40.699850,-73.971410,40.675147,-73.975232,casual
99,classic_bike,2023-06-21 20:42:50,2023-06-21 21:00:23,E 20 St & 2 Ave,Division St & Bowery,40.735877,-73.982050,40.714193,-73.996732,member

In [27]:
df_cleaned.to_csv('cleanedjun2023_output_file.csv', index=False)

In [28]:
df=pd.read_csv("202312-citibike-tripdata_1.csv" ,sep="," ,encoding="utf-8")
df.head()

/var/folders/h0/p6cqdlx17db0kxyxg9xxc18c0000gn/T/ipykernel_29389/3046427647.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("202312-citibike-tripdata_1.csv" ,sep="," ,encoding="utf-8")

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,FB18F431791D6F97,classic_bike,2023-12-07 12:40:22,2023-12-07 12:47:09,Allen St & Stanton St,5484.09,Carmine St & 6 Ave,5763.03,40.721818,-73.989172,40.730386,-74.002150,member
1,73DF56B794079C50,classic_bike,2023-12-29 13:47:27,2023-12-29 13:54:02,Carlton Ave & Dean St,4199.12,Union St & 4 Ave,4175.15,40.680974,-73.971010,40.677274,-73.982820,member
2,E3BA5AF851CC1CF0,classic_bike,2023-12-14 19:57:46,2023-12-14 20:15:12,W 84 St & Amsterdam Ave,7409.04,W 48 St & Rockefeller Plaza,6626.11,40.786249,-73.975446,40.757769,-73.979294,member
3,8F2CBCCB503B0398,electric_bike,2023-12-20 16:55:15,2023-12-20 17:04:03,E 85 St & York Ave,7146.04,Central Park West & W 85 St,7354.01,40.775369,-73.948034,40.784760,-73.969862,member
4,A28FFC9585DE8CC5,classic_bike,2023-12-30 14:43:15,2023-12-30 14:56:33,W 84 St & Amsterdam Ave,7409.04,E 58 St & 3 Ave,6762.02,40.786238,-73.975478,40.760958,-73.967245,member

In [29]:
df_cleaned = df.drop(columns=['ride_id','start_station_id','end_station_id'])
print(df_cleaned)

        rideable_type           started_at             ended_at  \
0        classic_bike  2023-12-07 12:40:22  2023-12-07 12:47:09
1        classic_bike  2023-12-29 13:47:27  2023-12-29 13:54:02
2        classic_bike  2023-12-14 19:57:46  2023-12-14 20:15:12
3       electric_bike  2023-12-20 16:55:15  2023-12-20 17:04:03
4        classic_bike  2023-12-30 14:43:15  2023-12-30 14:56:33
...               ...                  ...                  ...
999995   classic_bike  2023-12-21 18:06:35  2023-12-21 18:17:05
999996   classic_bike  2023-12-14 06:42:13  2023-12-14 06:55:47
999997   classic_bike  2023-12-06 08:54:36  2023-12-06 09:16:21
999998   classic_bike  2023-12-22 13:48:37  2023-12-22 13:50:31
999999   classic_bike  2023-12-22 15:35:04  2023-12-22 16:01:20

                      start_station_name              end_station_name  \
0                  Allen St & Stanton St            Carmine St & 6 Ave
1                  Carlton Ave & Dean St              Union St & 4 Ave
2                W 84 St & Amsterdam Ave  W 48 St &  Rockefeller Plaza
3                     E 85 St & York Ave   Central Park West & W 85 St
4                W 84 St & Amsterdam Ave               E 58 St & 3 Ave
...                                  ...                           ...
999995  Queens Plaza North & Crescent St               3 Ave & E 62 St
999996       W 82 St & Central Park West               W 52 St & 6 Ave
999997                   8 Ave & W 33 St               3 Ave & E 62 St
999998                      9 St & 44 Rd                 11 St & 44 Rd
999999         Thompson St & Bleecker St         Henry St & Middagh St

        start_lat  start_lng    end_lat    end_lng member_casual
0       40.721818 -73.989172  40.730386 -74.002150        member
1       40.680974 -73.971010  40.677274 -73.982820        member
2       40.786249 -73.975446  40.757769 -73.979294        member
3       40.775369 -73.948034  40.784760 -73.969862        member
4       40.786238 -73.975478  40.760958 -73.967245        member
...           ...        ...        ...        ...           ...
999995  40.750998 -73.940613  40.763126 -73.965269        member
999996  40.782750 -73.971370  40.761330 -73.979820        member
999997  40.751955 -73.993460  40.763126 -73.965269        casual
999998  40.749660 -73.952100  40.749207 -73.949373        member
999999  40.728401 -73.999688  40.700300 -73.991581        member

[1000000 rows x 10 columns]

In [30]:
df_cleaned.head(100)

,rideable_type,started_at,ended_at,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,member_casual
0,classic_bike,2023-12-07 12:40:22,2023-12-07 12:47:09,Allen St & Stanton St,Carmine St & 6 Ave,40.721818,-73.989172,40.730386,-74.002150,member
1,classic_bike,2023-12-29 13:47:27,2023-12-29 13:54:02,Carlton Ave & Dean St,Union St & 4 Ave,40.680974,-73.971010,40.677274,-73.982820,member
2,classic_bike,2023-12-14 19:57:46,2023-12-14 20:15:12,W 84 St & Amsterdam Ave,W 48 St & Rockefeller Plaza,40.786249,-73.975446,40.757769,-73.979294,member
3,electric_bike,2023-12-20 16:55:15,2023-12-20 17:04:03,E 85 St & York Ave,Central Park West & W 85 St,40.775369,-73.948034,40.784760,-73.969862,member
4,classic_bike,2023-12-30 14:43:15,2023-12-30 14:56:33,W 84 St & Amsterdam Ave,E 58 St & 3 Ave,40.786238,-73.975478,40.760958,-73.967245,member
...,...,...,...,...,...,...,...,...,...,...
95,classic_bike,2023-12-15 10:17:16,2023-12-15 10:22:12,W 29 St & 9 Ave,W 43 St & 6 Ave,40.750196,-73.998284,40.755273,-73.983169,member
96,classic_bike,2023-12-21 18:13:40,2023-12-21 18:22:49,Rogers Ave & Sterling St,Church Ave & Nostrand Ave,40.663062,-73.953875,40.650740,-73.949860,member
97,classic_bike,2023-12-08 20:57:24,2023-12-08 21:09:54,W 29 St & 9 Ave,Mercer St & Bleecker St,40.749891,-73.998344,40.727064,-73.996621,member
98,classic_bike,2023-12-07 12:20:02,2023-12-07 12:24:30,St Marks Pl & 2 Ave,Mercer St & Bleecker St,40.728367,-73.986848,40.727064,-73.996621,member
99,classic_bike,2023-12-22 19:04:32,2023-12-22 19:09:32,Meserole Ave & Manhattan Ave,Frost St & Meeker Ave,40.727086,-73.952991,40.717662,-73.948800,member

In [31]:
df_cleaned.to_csv('cleaneddec2023_output_file.csv', index=False)